<template>
    <div id="uzbekistan">
        <div class="infoMain">
            <div class="infoGrids">
                <div class="mid">
                    <p class="title">
                        {{ $t('centralAsia.kirgiz.title') }}
                    </p>
                    <img src="~/static/kirgiz/kyrgyzstan-map.jpg" class="firstImg" alt="">
                    <br>
                    <br>
                    <div class="allText">
                        <p class="mainTitle">
                            {{ $t('centralAsia.kirgiz.title') }}
                        </p>
                        <br>
                        <div class="photos">
                            <img src="~/static/kirgiz/music.jpg" class="" alt="">
                            <img src="~/static/kirgiz/dance.jpg" class="" alt="">
                            <img src="~/static/kirgiz/osh-ia.jpg" class="" alt="">
                        </div>
                        <br>
                        <p class="span1">
                            <span>
                                {{ $t('centralAsia.kirgiz.span1') }}
                            </span>
                        </p>
                        <br>
                        <p class="span2">
                            <span>
                                {{ $t('centralAsia.kirgiz.span2') }}
                            </span>
                        </p>
                        <br>
                        <p class="span3">
                            <span>
                                {{ $t('centralAsia.kirgiz.span3') }}
                            </span>
                        </p>
                        <br>
                        <p class="span4">
                            <span>
                                {{ $t('centralAsia.kirgiz.span4') }}
                            </span>
                        </p>
                        <br>
                        <br>
                        <div class="photos">
                            <img src="~/static/kirgiz/bibi.jpg" class="" alt="">
                            <img src="~/static/kirgiz/osh.jpg" class="" alt="">
                            <img src="~/static/kirgiz/mount2.jpg" class="" alt="">
                        </div>
                        <br>
                        <p class="span5">
                            <span>
                                {{ $t('centralAsia.kirgiz.span5') }}
                            </span>
                        </p>
                        <br>
                        <p class="span6">
                            <span>
                                {{ $t('centralAsia.kirgiz.span6') }}
                            </span>
                        </p>
                        <br>
                        <p class="span7">
                            <span>
                                {{ $t('centralAsia.kirgiz.span7') }}
                            </span>
                        </p>
                        <br>
                        <br>
                        <div class="photos">
                            <img src="~/static/kirgiz/bibi.jpg" class="" alt="">
                            <img src="~/static/kirgiz/osh.jpg" class="" alt="">
                            <img src="~/static/kirgiz/mount2.jpg" class="" alt="">
                        </div>
                        <br>
                        <p class="span8">
                            <span>
                                {{ $t('centralAsia.kirgiz.span8') }}
                            </span>
                        </p>
                        <br>
                        <p class="span8">
                            <span>
                                {{ $t('centralAsia.kirgiz.span9') }}
                            </span>
                        </p>
                        <br>
                        <div class="photos">
                            <img src="~/static/kirgiz/bibi.jpg" class="" alt="">
                            <img src="~/static/kirgiz/osh.jpg" class="" alt="">
                            <img src="~/static/kirgiz/mount2.jpg" class="" alt="">
                        </div>
                        <br>
                        <p class="span10">
                            <span>
                                {{ $t('centralAsia.kirgiz.span10') }}
                            </span>
                            <br>
                            <br>
                            <span>
                                {{ $t('centralAsia.kirgiz.span11') }}
                            </span>
                            <a href="http://tonkosti.ru">(http://tonkosti.ru)</a>
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="disc">
                        <div class="allText">
                            <div class="mainTitle">
                                {{ $t('centralAsia.kirgiz.spravka.span1.title') }}
                            </div>
                            <br>
                            <div class="span2">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.title') }}
                                    </b>
                                </p>
                                <ul>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text1') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text2') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text3') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text4') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text5') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text6') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text7') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text8') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span2.text.text9') }}
                                    </li>
                                </ul>
                            </div>
                            <br>

                            <div class="span3">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span3.title') }}
                                    </b>
                                </p>
                                <ul>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span3.text.text1') }}
                                    </li>
                                    <br>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span3.text.text2') }}
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="span4">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span4.title') }}
                                    </b>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span4.text') }}
                                    </span>
                                </p>
                            </div>
                            <br>
                            <div class="span5">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span5.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span5.text') }}
                                    </span>
                                </p>
                            </div>
                            <br>
                            <div class="span6">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span6.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span6.text') }}
                                    </span>
                                </p>
                            </div>
                            <br>
                            <div class="span7">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.title') }}
                                    </b>
                                </p>
                                <ul>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text1') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text2') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text3') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text4') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text5') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text6') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text7') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text8') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text9') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text10') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text11') }}
                                    </li>
                                    <li>
                                        {{ $t('centralAsia.kirgiz.spravka.span7.text.text12') }}
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="span8">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span8.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span8.text.text1') }}
                                    </span>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span8.text.text2') }}
                                    </span>
                                </p>
                            </div>
                            <br>
                            <div class="span9">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span9.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span9.text.text1') }}
                                    </span>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span9.text.text2') }}
                                    </span>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span9.text.text3') }}
                                    </span>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span9.text.text4') }}
                                    </span>
                                </p>
                            </div>
                            <br>
                            <div class="span10">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span10.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span10.text.text1') }}
                                    </span>
                                </p>
                            </div>
                            <div class="span11">
                                <p>
                                    <b>
                                        {{ $t('centralAsia.kirgiz.spravka.span11.title') }}
                                    </b>
                                    <br>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span11.text.text1') }}
                                    </span>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span11.text.text2') }}
                                    </span>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span11.text.text3') }}
                                    </span>
                                    <span>
                                        {{ $t('centralAsia.kirgiz.spravka.span11.text.text4') }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <news />
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-auto-rows: 200px;
    gap: 10px;
}

.photos img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
</style>